div#tab_pages
	ul#tabs
		li.selected_tabs 好友
		li 群
	div.selected_content
		div#friends_list.user_list 好友列表
			ul
				li 通过socket.io通信获得好友ID
		div#query_friends 查找好友
		div#logout 退出
	div
		div#add_groups 创建群
		div#groups_list.user_list 群列表	
		div#query_groups 查找群
		div#logout 退出
